
body {
  font-family: 'Josefin Sans', sans-serif;

  background-color: #f5f5f5;
}
.carousel.slide.container img {
  height: 500px !important;
  width: 100%;
}


.section-blocks {
  height: 800px !important;
}

a {
  font-size: 18px;
  color: white !important;
}
.section-blocks {
  height: 700px;
}
.form-group {
  padding: 50px;
}
h1 {
  margin-top: 100px;
}

h2 {
  text-align: center;
  margin-top: 100px;
}
p {
  font-size: 20px;
  padding-top: 60px;
}

.form-group {
  padding: 10px;
  width: 50%;
}



.footer {
  margin-top: 200px;
  text-align: center;
}

/*.carousel {
  height: 100%;
  width: 100%;
}*/

#carousel-example-generic {
  height: 100%;
  width: 100%;
}

.col-md-4 img {
  height: 200px;
  width: 100%;
  margin-top: 50px;
}


#about-image img {
  height: 400px;
  margin-top: 50px;
}


#service {
  height: 700px !important;
}


#services p {
  padding-top: 10px;
}

#about-me {
  margin-left: 100px;
}

#about-text p {
  font-size: 18px;
}


/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}

@media screen and (max-width:768px){
.section-blocks {
  margin-top: 300px;
}
