
body {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  background-color: #f5f5f5;
}

a {
  font-size: 18px;
  color: white !important;
}
.section-blocks {
  height: 700px;
}
.form-group {
  padding: 50px;
}
h1 {
  margin-top: 100px;
}

h2 {
  text-align: center;
  margin-top: 300px;
}
p {
  font-size: 20px;
}

.form-group {
  padding: 20px;
  width: 50%;
}

#contact p {
  text-align: center;
}

.footer {
  margin-top: 200px;
  text-align: center;
}

/*.carousel {
  height: 100%;
  width: 100%;
}*/

#carousel-example-generic {
  height: 100%;
  width: 100%;
}

.col-md-1 img {
  height: 200px;
  margin-left: 90px;
  margin-top: 50px;
}

#service1 {
  margin-right: 250px;
}


#service2 {
  margin-right: 250px;
}

#service3 {
  margin-right: 250px;
}
.col-md-1 p {
  padding-left: 200px;
}
